{% extends "base.html" %}
{% block content %}
<div class="container">

  <div class="row">
    <br>
  </div>

  <div class="row justify-content-center border bg-light">
    <h1>About our company</h1>
    <p>We love puppies!! We're guessing you love them, too, and so we've created this website for you to share your puppy-related pictures and stories.</p>
  </div>

  <div class="row justify-content-center">
    {% for image in images %}
        <img src="{{url_for('static',filename='carousel/'+image)}}">
    <!-- {{ show_carousel_image(photo) }} -->
    {% endfor %}
  </div>


</div>
{% endblock %}
